:root {
  --font-fam-sans: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica,
    Arial, sans-serif;
  --font-fam-mono: "Inconsolata", "Courier New", Courier, monospace;
  --font-size-sans-reg: 14px;
  --font-size-sans-small: 12px;
  --font-size-mono-reg: 15px;

  --color-main-bg: #fff;
  --color-main-text: black;
  --color-main-text-on-select: white;
  --color-main-accent: rgba(0, 0, 0, 0.5);

  --color-pending-highlight-bg: #eee;
  --color-pending-highlight-text: var(--color-main-text);

  --color-pending-select-bg: #468;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main-bg:  #0f171f;
    --color-main-text: rgba(255, 255, 255, 0.87);
    --color-main-text-on-select: rgba(255, 255, 255, 0.87);
    --color-main-accent: rgba(255, 255, 255, 0.5);

    --color-pending-highlight-bg: #182431;

    --color-pending-select-bg:  #213040;
  }
}

body {
  color: var(--color-main-text);
  background-color: var(--color-main-bg);
  font-family: var(--font-fam-sans);
  font-size: var(--font-size-sans-reg);
}

.react-tabs__tab-list {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--color-main-accent);
  background-color: var(--color-pending-select-bg);
  color: var(--color-main-text-on-select);
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  list-style: none;
  cursor: pointer;
  padding: 12px 12px;
  font-family: var(--font-fam-sans);
  font-size: var(--font-size-sans-reg);
  border-bottom: 4px solid transparent;
}

.react-tabs__tab--selected {
  cursor: default;
  border-bottom: 4px solid var(--color-main-text-on-select);
  font-weight: 500;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}


