:root {
  --font-fam-sans: Roboto, "Helvetica Neue", HelveticaNeue, Helvetica, Arial,
    sans-serif;
  --font-fam-mono: "Inconsolata", "Courier New", Courier, monospace;
  --font-size-sans-reg: 14px;
  --font-size-sans-small: 12px;
  --font-size-mono-reg: 15px;

  --color-main-bg: #fff;
  --color-main-text: black;
  --color-main-text-on-select: white;
  --color-main-accent: rgba(0, 0, 0, 0.5);

  --color-pending-highlight-bg: #eee;
  --color-pending-highlight-text: var(--color-main-text);

  --color-pending-select-bg: #468;

  --color-line-change-delete: hsla(0, 100%, 26%, 1);
  --color-line-change-add: hsla(143, 85%, 27%, 1);

  --color-bg-group-1: hsla(0, 100%, 83%, 0.6);
  --color-bg-group-2: hsla(120, 100%, 83%, 0.6);
  --color-bg-group-3: hsla(180, 100%, 83%, 0.6);
  --color-bg-group-4: hsla(300, 100%, 83%, 0.6);
  --color-bg-group-5: hsla(180, 100%, 83%, 0.6);
  --color-bg-group-6: hsla(60, 100%, 83%, 0.6);
  --color-bg-group-7: hsla(343, 100%, 83%, 0.6);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main-bg: #0f171f;
    --color-main-text: rgba(255, 255, 255, 0.87);
    --color-main-text-on-select: rgba(255, 255, 255, 0.87);
    --color-main-accent: rgba(255, 255, 255, 0.5);

    --color-pending-highlight-bg: #182431;

    --color-pending-select-bg: #213040;

    --color-line-change-delete: hsl(0, 100%, 76%, 0.87);
    --color-line-change-add: hsla(143, 100%, 76%, .87);

    --color-bg-group-1: hsla(0, 100%, 60%, 0.4);
    --color-bg-group-2: hsla(120, 100%, 60%, 0.4);
    --color-bg-group-3: hsla(180, 100%, 60%, 0.4);
    --color-bg-group-4: hsla(300, 100%, 60%, 0.4);
    --color-bg-group-5: hsla(180, 100%, 60%, 0.4);
    --color-bg-group-6: hsla(60, 100%, 60%, 0.4);
    --color-bg-group-7: hsla(343, 100%, 60%, 0.4);
  }
}

body {
  color: var(--color-main-text);
  background-color: var(--color-main-bg);
  font-family: var(--font-fam-sans);
  font-size: var(--font-size-sans-reg);
}

.react-tabs__tab-list {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--color-main-accent);
  background-color: var(--color-pending-select-bg);
  color: var(--color-main-text-on-select);
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  list-style: none;
  cursor: pointer;
  padding: 12px 12px;
  font-family: var(--font-fam-sans);
  font-size: var(--font-size-sans-reg);
  border-bottom: 4px solid transparent;
}

.react-tabs__tab--selected {
  cursor: default;
  border-bottom: 4px solid var(--color-main-text-on-select);
  font-weight: 500;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.action-button__group {
  margin: 8px 4px;
  display: inline-block;
}

.action-button__group:first-of-type {
  margin-left: 0;
}

.action-button__group:last-of-type {
  margin-right: 0;
}

.action-button {
  border: 1px solid var(--color-main-accent);
  background-color: var(--color-main-bg);
  color: var(--color-main-text);
  padding: 12px;
  cursor: pointer;
  border-right: none;
}

.action-button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.action-button:last-of-type {
  border-right: 1px solid var(--color-main-accent);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.action-button:hover,
.action-button:focus {
  background-color: var(--color-pending-highlight-bg);
  color: var(--color-pending-highlight-text);
}
