*.pyc
.pytest_cache
.mypy_cache
*.egg-info
frontend/node_modules
beancount_import/frontend_dist/*.js
beancount_import/frontend_dist/*.css
beancount_import/frontend_dist/*.map
.tox
.coverage
htmlcov/
.eggs/
.idea/
