[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beancount = "*"
mypy = "*"

[dev-packages]
mypy = "==1.13.0"
pytest = "*"
coverage = "*"
typing-extensions = "*"
tox = "*"
wheel = "*"
types-cachetools = "*"
types-python-dateutil = "*"
types-setuptools = "*"

[requires]
python_version = "3.13"
