[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
atomicwrites = "*"
tornado = "*"
watchdog = "*"
beancount = "==2.3.6"
jsonschema = "*"
nltk = "*"
scikit-learn = "*"

[dev-packages]
mypy = "==1.13.0"
pytest = "*"
coverage = "*"
typing-extensions = "*"
tox = "*"
wheel = "*"
types-cachetools = "*"
types-python-dateutil = "*"
types-setuptools = "*"

[requires]
python_version = "3.13"
